body {
  margin: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.user-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: black;
}

button {
  padding: 5px 7px;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover {
  cursor: pointer;
}
